<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <p>This service generates a mock feed of OpenActive session data, conforming to the <a href="https://www.openactive.io/modelling-opportunity-data/">OpenActive Modelling Specification</a>.</p>

    <p>Please find the mock RPDE feed <a href="/api/rpde/session-series">here</a>.</p>
  </body>
</html>
